/* Foundation v2.1.3 http://foundation.zurb.com */
/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/
body{
  background-image: url(../images/bg.jpg);
  background-repeat:repeat;
  height: 100%;
  font-size: 1.3em;
}
.row{
  max-width: 1020px;
}

a.logo{
  display:block;
  margin-top:32px;
}

.header{
  background-image: url(../images/header-bg.jpg);
  background-repeat: repeat-x;
}
.header .topheader{
   height:111px;
}

ul.navbar{
  margin-left: 0;
  margin-bottom: 0;
  list-style: none;
}
ul.navbar li{
  float: left;
  margin-bottom: 0;
}
ul.navbar li a{
  display: block;
  
padding-right: 12px;
padding-left: 12px;
margin-right: 2px;
line-height: 14px;
  
padding-top: 8px;
padding-bottom: 8px;
margin-top: 2px;
margin-bottom: 2px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;

font-weight:bold;
color:#fff;
font-size: 1.6em;

padding-top:10px;
padding-bottom: 14px;

/* active */
/*color: white;
background-color: #08C; */
}

ul.social{
  margin-left: 0;
  margin-bottom: 18px;
  list-style: none;
  margin-top:32px;
}
ul.social li{
  float:left;
}
ul.social li a{
  display:block;
  padding-right: 5px;
padding-left: 5px;
}


.main-content{
  margin-top:20px;
  
  min-height: 100%;
height: auto !important;
height: 100%;
xmargin: 0 auto -4em;
  
}
.main-content .content{
  background-color:#fff;
  xpadding:5px;
}


h1.welcome{
  font-size:25px;
  padding:10px;
  padding-bottom:0;
  margin-bottom:0;
}
.main-content .content p{
  xpadding:10px;
  xfont-size:1.3em;
}
.main-content .content hr{
  margin-left:10px;
  margin-right:10px;
}
.main-content .side-content{
  xbackground-color: #e17628;
  color:#fff;
  xtext-align:center;
  xpadding:5px;
  padding-bottom:5px;
  
}
.main-content .side-content .block-views{
  background-color: #e17628;
  margin-bottom:15px;
}


.main-content .side-content .content{
  background-color:inherit;
}

.main-content .side-content h2.block-title{
  color:#fff;
  font-size: 2.5em;
}
#block-views-about_me-block h3, #block-views-contact_me-block h2 a{display:none;}
/*.main-content .side-content h2 a, .main-content .side-content h3 a{
  display:none;
}*/

.region-sidebar-second{
  xpadding:10px;
  xpadding-top:0;
}
.region-sidebar-second h2.block-title{
  background-color: black;
padding: 7px;
}

.main-content .side-content .about-image{
  width:334px;
  margin: 0 auto;
  text-align: center;
}
.main-content .side-content .about-image img{
  border:3px solid #fff;
}

.main-content .side-content .block-inner .content{
  padding:10px;
  padding-top:0;
}

.main-content .side-content .about h2{
  color:#fff;
  padding-top:10px;
}
.main-content .side-content .about p{
  font-size: 1.2em;
}
.profile-pic{
  margin:0 auto;
  display: block;
  padding-bottom:20px;
}


/* footer */
.containerfooter{
/*margin-top: 3.2em;*/
padding-top: 1.6em;
padding-bottom: 1.6em;
background: #333;
clear: both;

height: 4em;
margin-top:30px;


}

#block-menu-menu-footer-menu{
  
}
#block-menu-menu-footer-menu ul{
  margin-left: 0;
  xmargin-bottom: 18px;
  list-style: none;
  text-align: center;
  display: block;
}
#block-menu-menu-footer-menu ul li{
  float:left;
  margin-right:2px;
  margin-left:2px;
  list-style-image: none;
  list-style-type: none;
}
#block-menu-menu-footer-menu ul li a{
  font-weight:bold;
  color:#fff;
  padding:0 5px;
}

/*
.footer{

xborder-top: 1px solid #CCC;
xbackground: #EEE;
xwidth: 100%;


}*/

/* contact form */
#block-views-contact_me-block .form-text{
  font-size: 13px;
padding: 4px 3px 2px;
background: white;
width:inherit;
}
#block-views-contact_me-block input.form-text{
  width:260px;
}
#block-views-contact_me-block .node-webform p{
  font-size:1.5em;
  font-style: italic;
}

/* in the main content area */
.node-webform input.form-text{
  width:274px;
  font-size: 13px;
padding: 4px 3px 2px;
background: white;
}

.node-webform textarea{
  xwidth: 500px;
xbox-sizing: border-box;
xx-webkit-box-sizing: border-box;
x-moz-box-sizing: border-box;
}


/* main page titles */
h1.title{
  xbackground-color:#ccc;
  xpadding:5px;
  xxborder-bottom: 2px solid #333;
  xcolor:#424242;
}

#content-header{
  padding:10px;
}


/* content area */
#content-area{
  padding:10px;
}
#content-area img, #content-area object, #content-area embed{
  height: inherit;
}
#content-area object, #content-area embed{
  height: 360px;
}



/* programs */
h1.title{
  font-size:28px;
  border-bottom:1px solid #ccc;
}

.program-title{
  text-align: center;
}
.program-image{
  margin:0 auto;
  width: 350px;
  margin-bottom:20px;
}

.program-image img{
  border:1px solid #ccc;
}

/* blog */
.page-blog-posts .view-blog-posts .view-content .odd{
  margin-bottom:30px;
  clear:left;
  clear:right;
  xborder-bottom:1px dotted #ccc;
}
.page-blog-posts .view-blog-posts .view-content .even{
  margin-bottom:30px;
  xborder-bottom:1px dotted #ccc;
  clear:left;
  clear:right;
}

h2.blog-title{
  font-size: 24px;
  line-height: 20px;
  margin-bottom:12px;
}
.blog-title a{
  color: #3F312E;
  font-size: 140%;
}
.blog-title a:hover{
  text-decoration: underline;
}

.blog-image{
  margin-bottom: 10px;
  float:right;
  margin-left:10px;
}
.blog-image img{
  border:1px solid #ccc;
}

.blog-body{

}

/* blog block */
#block-views-blog_posts-block .view-content h3.blog-title{
  font-size:17px;
}

#block-views-blog_posts-block .view-content .odd{
  xborder-bottom:1px dotted #ccc;
}
#block-views-blog_posts-block .view-content .even{
  xborder-bottom:1px dotted #ccc;
}

/* webform */
.webform-component-textarea label{
  font-weight:bold;
}


/* comment */
h2.comment-form{
  font-size:20px;
  margin-top:30px;
}

/* programs front page */
.programs-snippet{
  
}
.programs-snippet .node-programs{
  background-color:#F9F9F9;
  xpadding:2px;
  margin-bottom:10px;
  border:1px solid #E8E8E8;
}

.programs-snippet .node-programs .group-left .field-item{
  padding:5px;
}
.programs-snippet .node-programs .group-right .field-item img{
  border:1px solid #333;
}
.programs-snippet .node-programs h2{
  color:#e17628;
  background-color:#333;
  padding:5px;
  font-size:25px;
}



/* comments */
#comments{
  margin-top:50px;
}
#comments h2.title{
  font-size:20px;
  color: #e17628
}
.comment{
  margin-bottom:20px;
  padding-bottom:10px;
  border-bottom:1px solid #ccc;
}



/* FAQ */

.view-faq h3 a{
  color: #424242;
  font-size: 18px;
}

/* -----------------------------------------
   Shared Styles
----------------------------------------- */



/* -----------------------------------------
   Page Name 1
----------------------------------------- */




/* -----------------------------------------
   Page Name 2
----------------------------------------- */


